/* Ensure the background image covers the entire viewport */
.app-container {
  min-height: 100vh;
  position: relative;
  overflow: hidden; /* Prevents scroll from affecting the container */
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
}

/* Background Image and Overlay */
.background-image {
  position: fixed; /* Use fixed positioning to keep the image in place */
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1; /* Ensures it stays behind other elements */
  
}

.header {
  position: fixed; /* Use fixed positioning to keep the image in place */
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}

.header p{
  font-weight: 900;
  font-size: 3rem;
  color: white;
}

.background-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Semi-transparent overlay */
.background-overlay {
  position: fixed; /* Use fixed positioning for the overlay */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(55, 179, 17, 0.479);
  z-index: 1; /* Ensures it stays behind other elements */

}

/* Centered Navbar */
.navbar {
  position: relative;
  width: 100%;
  max-width: 1200px; /* Adjust as needed */
  margin: 0 auto;
  padding: 2rem 0;
  border: 1px solid white
}

.navbar-links {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbar-links li {
  margin: 0 1.5rem;
}

.navbar-links a {
  text-decoration: none;
  color: white;
  font-weight: 600;
}

/* Lower the navbar from the top */
.app-container::before {
  content: '';
  position: absolute;
  top: -150px; /* Adjust this value to lower the navbar */
  left: 0;
  right: 0;
}

.content{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;  
  font-family: 'Roboto', sans-serif;
  width: 50vw;
  
}

.content p{
  font-weight: 900;
  font-size: 5rem;
  color: white;
  text-align:center;
}



